<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- GeoServer proxy rule -->
                <!-- <rules>
                    <rule name="ReverseProxyGeoServer" stopProcessing="true">
                    <match url="^geoserver/(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="coaster.mmsu.edu.ph" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3655/geoserver/{R:1}" />
                    </rule>
                </rules> -->
                
                <!-- Existing Laravel rule should be after -->
                <rule name="Laravel" stopProcessing="false">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/geoserver/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^geoserver/(.*)" />
                    <action type="Rewrite" url="http://localhost:3655/geoserver/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="coaster.mmsu.edu.ph" />
                    </conditions>
                </rule>
            </rules>
            <outboundRules>
                <rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding">
                    <match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
                    <action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
                </rule>
                <preConditions>
                    <preCondition name="NeedsRestoringAcceptEncoding">
                        <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>