@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Norwester';
    src: url('/fonts/norwester/norwester.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}